In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
ipl = pd.read_csv('C:\\Users\\Aryaman\\AppData\\Local\\Programs\\Python\\Python310\\matches.csv')
delivery = pd.read_csv('C:\\Users\\Aryaman\\AppData\\Local\\Programs\\Python\\Python310\\deliveries.csv')

In [3]:
matches_2008 = ipl['season'].value_counts()[2008]  #1
print(matches_2008)

58

In [17]:
ipl['city'].value_counts()  #3

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Centurion          12
Ahmedabad          12
Rajkot             10
Mohali             10
Indore              9
Dharamsala          9
Johannesburg        8
Cuttack             7
Ranchi              7
Port Elizabeth      7
Cape Town           7
Abu Dhabi           7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: city, dtype: int64

In [ ]:
ipl['toss_winner'].max()  #4
ipl['toss_winner'].min()

In [ ]:
#5

In [47]:
ipl['result'].value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64

In [6]:
ipl[['team1','team2']][ipl.result=='tie'] #7

                           team1                        team2
33                 Gujarat Lions               Mumbai Indians
125             Rajasthan Royals        Kolkata Knight Riders
189              Kings XI Punjab          Chennai Super Kings
387  Royal Challengers Bangalore          Sunrisers Hyderabad
400             Delhi Daredevils  Royal Challengers Bangalore
475             Rajasthan Royals        Kolkata Knight Riders
535             Rajasthan Royals              Kings XI Punjab
705        Kolkata Knight Riders               Delhi Capitals
746               Mumbai Indians          Sunrisers Hyderabad

In [10]:
ipl[['winner']][ipl.win_by_runs==ipl['win_by_runs'].max()]

            winner
43  Mumbai Indians

In [36]:
ipl[['winner']][ipl.win_by_runs==ipl['win_by_runs'].min()]

                     winner
1    Rising Pune Supergiant
2     Kolkata Knight Riders
3           Kings XI Punjab
5       Sunrisers Hyderabad
6            Mumbai Indians
..                      ...
750         Kings XI Punjab
751          Mumbai Indians
752          Mumbai Indians
753          Delhi Capitals
754     Chennai Super Kings

[419 rows x 1 columns]

In [35]:
ipl[['player_of_match']][ipl.player_of_match==ipl['player_of_match'].value_counts().max()]

Empty DataFrame
Columns: [player_of_match]
Index: []

In [37]:
ipl[['venue']][ipl.win_by_runs==ipl['win_by_runs'].max()]

               venue
43  Feroz Shah Kotla

In [38]:
ipl[['venue']][ipl.win_by_runs==ipl['win_by_runs'].min()]

                                         venue
1      Maharashtra Cricket Association Stadium
2       Saurashtra Cricket Association Stadium
3                       Holkar Cricket Stadium
5    Rajiv Gandhi International Stadium, Uppal
6                             Wankhede Stadium
..                                         ...
750                          IS Bindra Stadium
751                           Wankhede Stadium
752                  M. A. Chidambaram Stadium
753                           ACA-VDCA Stadium
754                           ACA-VDCA Stadium

[419 rows x 1 columns]

In [ ]:
#14

In [60]:
ipl['season'].value_counts()

2013    76
2012    74
2011    73
2010    60
2014    60
2016    60
2018    60
2019    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

In [ ]:
#16

In [64]:
ipl['toss_winner'].value_counts()

Mumbai Indians                 98
Kolkata Knight Riders          92
Chennai Super Kings            89
Royal Challengers Bangalore    81
Kings XI Punjab                81
Delhi Daredevils               80
Rajasthan Royals               80
Sunrisers Hyderabad            46
Deccan Chargers                43
Pune Warriors                  20
Gujarat Lions                  15
Delhi Capitals                 10
Kochi Tuskers Kerala            8
Rising Pune Supergiants         7
Rising Pune Supergiant          6
Name: toss_winner, dtype: int64

In [71]:
seasonwise= ipl.groupby('season')
seasonwise['toss_winner'].value_counts()

season  toss_winner
2008    Rajasthan Royals               11
        Deccan Chargers                 9
        Kings XI Punjab                 8
        Mumbai Indians                  8
        Delhi Daredevils                6
                                       ..
2019    Mumbai Indians                  8
        Kings XI Punjab                 6
        Kolkata Knight Riders           5
        Royal Challengers Bangalore     4
        Sunrisers Hyderabad             4
Name: toss_winner, Length: 100, dtype: int64

In [95]:
x = ipl['team1'].value_counts()
y = ipl['team2'].value_counts()
z = x+y
print(z)

Chennai Super Kings            164
Deccan Chargers                 75
Delhi Capitals                  16
Delhi Daredevils               161
Gujarat Lions                   30
Kings XI Punjab                176
Kochi Tuskers Kerala            14
Kolkata Knight Riders          178
Mumbai Indians                 187
Pune Warriors                   46
Rajasthan Royals               147
Rising Pune Supergiant          16
Rising Pune Supergiants         14
Royal Challengers Bangalore    180
Sunrisers Hyderabad            108
dtype: int64